//Fonts
// PT Sans Font Family
@font-face {
  font-family: "PT Sans";
  src: url("./assets/fonts/pt-sans/pt-sans-regular.woff2") format("woff2"),
    url("./assets/fonts/pt-sans/pt-sans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Playfair Display Font Family
@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/playfair-display/playfair-display-bold.woff2")
      format("woff2"),
    url("./assets/fonts/playfair-display/playfair-display-bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/playfair-display/playfair-display-regular.woff2")
      format("woff2"),
    url("./assets/fonts/playfair-display/playfair-display-regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Post No Bills Jaffna Font Family
@font-face {
  font-family: "Post No Bills Jaffna";
  src: url("./assets/fonts/post-no-bills-jaffna/post-no-bills-jaffna-bold.woff2")
      format("woff2"),
    url("./assets/fonts/post-no-bills-jaffna/post-no-bills-jaffna-bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//Reset
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  display: inline-flex;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  display: inline-flex;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

//Variables
// Colors
$gray: #969696;
$light-gray: #d0d0d0;
$white: #ffffff;

$black-100: #000000;
$black-90: #0f0f0f;
$black-80: #191b1c;

// Semantic Colors

$color-primary: $white;
$color-secondary: $gray;
$color-third: $light-gray;
$page-background: $black-100;

// Fonts
$font-family-primary: "PT Sans", sans-serif;
$font-family-secondary: "Playfair Display", sans-serif;
$font-family-third: "Post No Bills Jaffna", sans-serif;

// Breakpoints
$breakpoint-xs: 23.4375rem;
$breakpoint-sm: 48rem;
$breakpoint-md: 64rem;
$breakpoint-lg: 90rem;
$breakpoint-xl: 120rem;

// Container max-width
$container-1920: 120rem;
$container-1142: 71.375rem;
$container-padding: 1rem;

//Globals

html {
  font-size: 16px;
  font-size: 100%;
}

body {
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: $page-background;
  // background-color: green;
  color: $color-primary;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

%container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-1920 {
  @extend %container;
  max-width: $container-1920;
}

.container-1142 {
  @extend %container;
  max-width: $container-1142;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

//////////////////

// Logo
.logo {
  font-family: $font-family-third;
  font-weight: 700;
  font-size: 2.25rem;
  color: $color-primary;
  text-transform: uppercase;
  line-height: 1;
}

//Logo End//////////

//Header//
.page-header {
  position: sticky;
  top: 0;
  .topbar {
    padding: 0.875rem 0;
    background-color: $black-100;

    @media (max-width: $breakpoint-sm) {
      padding: 0.3125rem 0;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-family: $font-family-primary;
      font-weight: 400;
      font-size: 0.75rem;
      color: $color-secondary;
      line-height: 1.334;

      @media (max-width: $breakpoint-sm) {
        justify-content: center;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 0.9375rem;

      @media (max-width: $breakpoint-sm) {
        font-size: 10px;
      }
    }

    &__auth {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      &:hover {
        color: $color-primary;
        transition: 0.3s;
      }

      &:hover path {
        fill: $color-primary;
        transition: 0.3s;
      }

      @media (max-width: $breakpoint-sm) {
        display: none;
      }
    }
  }

  .navbar {
    background-color: $black-90;

    &__content {
      display: flex;
      align-items: center;
    }

    &__logo {
      margin-right: auto;

      .logo {
        @media (max-width: $breakpoint-sm) {
          font-size: 24px;
          margin-top: 2px;
        }
      }
    }

    &__burger-btn {
      display: none;

      @media (max-width: $breakpoint-sm) {
        display: inline-flex;
        margin-right: 1.375rem;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 1.375rem;
      margin-right: -0.5625rem;

      &__link {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;

        &:hover {
          background-color: $black-80;
        }
      }

      &__profile {
        display: none;

        @media (max-width: $breakpoint-sm) {
          display: flex;
        }
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;

    &__link {
      display: inline-flex;
      padding: 1.9375rem 1rem;
      font-family: $font-family-primary;
      font-weight: 400;
      font-size: 0.875rem;
      text-transform: uppercase;
      color: $color-primary;
      white-space: nowrap;
      transition: 0.3s;

      &:hover {
        background-color: $black-80;
      }
    }

    @media (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  // .mobile-menu {
  //   position: fixed;
  //   top: 66px;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   background: $black-90;
  //   z-index: -1;
  //   opacity: 0;
  //   visibility: hidden;
  //   transition: all 0.3s ease;
  //   overflow-x: hidden;

  //   &--open {
  //     opacity: 1;
  //     visibility: visible;
  //   }

  //   .menu {
  //     display: flex;
  //     flex-direction: column;
  //     margin-top: 20px;
  //     margin-right: 0;

  //     &__link {
  //       font-size: 16px;
  //       padding: 20px 0px;
  //     }
  //   }
  // }
}
